<h3 class="new-text">새 글을 작성하시오.</h3>
<!--<form action="/home/create" method="post">-->
<!--    <p>제목</p>-->
<!--    <input type="text" name="input_title">-->
<!--    <p>내용</p>-->
<!--    <input type="text" name="input_content">-->
<!--    <p>제출</p>-->
<!--    <input type="submit">-->
<!--</form>-->
<div class="container">
<form action="/home/create" method="post">
  <div class="form-group">
    <label for="formGroupExampleInput">Title</label>
    <input type="text" name="input_title" class="form-control" id="formGroupExampleInput">
  </div>
  <div class="form-group">
    <label for="formGroupExampleInput2">Content</label>
    <input type="text" name="input_content" class="form-control" id="formGroupExampleInput2" >
  </div>
  <input type="submit">
</form>
</div>

<hr>



